## Week 3 Assignment: Segmenting and Clustering Neighborhoods in Toronto

__1: Converting Wikipedia page to data frame using pandas read_html method__

In [1]:
import pandas as pd
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',flavor='html5lib')
#print(len(tables))
df = tables[0]
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

__2: Dropping the first row as it is data header and displaying the dimensions__

In [2]:
df.drop(df.index[0],inplace=True)
df.shape

(289, 3)

__3: Adding column headers. Only processing the cells that have an assigned borough. Displaying unique Postalcodes,Boroughs and Neighbourhood__

In [3]:
df.columns = ['PostalCode', 'Borough','Neighbourhood']
#df = df.loc[df['Borough'] != 'Not assigned']
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)

uniquePostCodes = df['PostalCode'].nunique()
uniqueBoroughs = df['Borough'].nunique()
uniqueNeighbourhood= df['Neighbourhood'].nunique()
print('Unique Postalcodes   : {}'.format(uniquePostCodes))
print('Unique Boroughs      : {}'.format(uniqueBoroughs))
print('Unique Neighbourhood : {}'.format(uniqueNeighbourhood))

Unique Postalcodes   : 103
Unique Boroughs      : 11
Unique Neighbourhood : 210

__4: Replace 'Not assigned' neighborhoods with the name of the Borough and print the output before and after updating value__

In [4]:
df[df['Neighbourhood'] == 'Not assigned'].head()

  PostalCode       Borough Neighbourhood
6        M7A  Queen's Park  Not assigned

In [5]:
# update value with Borough name
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']
df.head(10)

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

__5: Sort the data frame by postcode, loop through all the rows, compare each row with the next and if postcode matches then combine the two neighbourhoods__

In [6]:
df1 = df.sort_values('PostalCode')
df1 = df1.reset_index(drop=True)
df1.head()

  PostalCode      Borough   Neighbourhood
0        M1B  Scarborough           Rouge
1        M1B  Scarborough         Malvern
2        M1C  Scarborough      Port Union
3        M1C  Scarborough      Rouge Hill
4        M1C  Scarborough  Highland Creek

In [7]:
noOfRows=len(df1)-1
n=0

while n < noOfRows :
    postcode1 = df1.iloc[n,0]
    postcode2 = df1.iloc[n+1,0]
    neighbourhood1 = df1.iloc[n,2]
    neighbourhood2 = df1.iloc[n+1,2]

    if postcode1 == postcode2 :
        df1.Neighbourhood[n,2] = neighbourhood1+','+neighbourhood2
        df1 = df1.drop(df1.index[n+1])
        df1 = df1.reset_index(drop=True)
        #reduce the count
        noOfRows=noOfRows-1

    else:
        n=n+1

In [8]:
df1.head(15)

   PostalCode      Borough                                      Neighbourhood
0         M1B  Scarborough                                      Rouge,Malvern
1         M1C  Scarborough            Rouge,Malvern,Rouge Hill,Highland Creek
2         M1E  Scarborough  Beaumond Heights,Humbergate,Jamestown,Mount Ol...
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
7         M1L  Scarborough                      Golden Mile,Oakridge,Clairlea
8         M1M  Scarborough      Cliffcrest,Scarborough Village West,Cliffside
9         M1N  Scarborough                         Cliffside West,Birch Cliff
10        M1P  Scarborough  Wexford Heights,Dorset Park,Scarborough Town C...
11        M1R  Scarborough                                   Maryvale,Wexford
12        M1S  Scarborough                                          Agincourt
13        M1T  Scarborough              Sullivan,Clarks Corners,Tam O'Shanter
14        M1V  Scarborough  Milliken,Agincourt North,L'Amoreaux East,Steel...

__6: Printing the number of rows in dataframe__

In [9]:
df1.shape

(103, 3)